[2018-07-13 12:57] Futureglobe opened #1 "Error "crashing" app"
Hi, i was going through your app and noticed a error causing the app to be unusable. I*m not sure if you are aware of this problem.

Steps to re-produce:

#1: Click at the "+" icon the create a new note and select "Multifile Snippet"
#2: Click on the "New file" area and create for example 3 of them.

Now try to delete all of them and on the way you will see the error causing this screen for the us

[2018-07-14 04:04] ZeroX-DG commented on #1
Hey @Futureglobe , I have released v0.2.2 which include the fix for your bug, can you confirm it?

[2018-07-16 14:54] Futureglobe commented on #1
First of all great response time :) I downloaded the new version and it seems to fixed the problem. But as normal in software development there is now another error:

![image](https://user-images.githubusercontent.com/27356972/42765623-b83b1264-8918-11e8-86dd-70a82cce5943.png)

[2018-07-16 15:45] ZeroX-DG commented on #1
Hmm...Can you provide some details about this new bug?

[2018-07-17 08:46] Futureglobe commented on #1
Not really it occurs the same way the one before did.

[2018-07-17 14:23] ZeroX-DG commented on #1
Thank you very much @Futureglobe , I've fixed the bug (I hope so :smile: ), here is the pre-release, can you confirm that the bug is fixed?
https://github.com/ZeroX-DG/SnippetStore/releases/tag/v0.2.3

[2018-07-18 12:49] Futureglobe commented on #1
Yes the bug is now fixed. Good job 👍

[2018-07-18 13:14] ZeroX-DG commented on #1
Thank you very much for reporting this bug, I'll release it tomorrow

[2018-07-18 13:14] #1 closed

[2018-07-30 19:26] brpaz opened #2 "Some Suggestions"
Hello.  First of all really nice app ;)
I have installed SnipetStore and I found it really simple to use. I am still in the search for the my "perfect" code snippet tool. I am currently using Boostnote but I prefer the simpler organization into tags and languages of SnippetStore.

Here are some suggestions from a couple of days using it:

*  Markdown files preview. (like Boostnote)
* Allow adding

[2018-07-31 02:36] ZeroX-DG commented on #2
Nice suggestions! I'll see what I can do :+1:

[2018-08-06 04:30] ZeroX-DG opened #3 "Add preview for markdown file"
We can add a preview button for markdown files that will display preview version of the file when clicked

[2018-08-06 04:35] ZeroX-DG commented on #2
Hey @brpaz , thank you for you suggestions. Suggestion 2, 3 and 5 has been implemented in the latest release v0.2.5. I'll implement other suggessions when I have the time. Until then, feel free to help me by open an PR for any of those suggestions.

[2018-08-06 04:36] ZeroX-DG opened #4 "Snippets backup / sync"
This is a nice feature to add but I don't familiar with github api so any help would be great!

[2018-08-06 08:25] Prattjames opened #5 "Where's the Mac version ?"
Hi Guys,

This is a fantastic Idea, it can even be more powerful combined with VS Code plugin to directly put a snippet in the App while coding.

The issue is that I don't see the Mac version... or it's not available for Mac users ?

[2018-08-06 08:50] ZeroX-DG commented on #5
I'm sorry @Prattjames but as I said in the download section in the website, SnippetStore developer team has only 1 member and I can't test SnippetStore on MacOS because I use linux and poor and can't afford a Mac :smile: . But I'll try to find someone who use Mac to work with me. In the meantime, you can build SnippetStore from source (not guarantee it will work) using
[code]

[2018-08-06 09:41] Tsunaze opened #6 "snippet versioning"
Snippet code versioning

[2018-08-06 09:54] Tsunaze opened #7 "Exporting/Importing database of snippet"
When we want to switch computers, we can't find all the snippets saved. Even if it's not online or anything, exporting the DB could be a great feature. Or for sharing with others (in a team)

[2018-08-06 10:14] ZeroX-DG commented on #7
Thank you for your suggestion, I'm planing on making export to json file feature and import through json file. But that's just a temporary solution, in the future you can store your snippet on gist too.

[2018-08-06 10:15] ZeroX-DG commented on #6
In the future, you can sync your snippets with github gist and gist will take care of snippet code versioning :smile:

[2018-08-06 10:55] SxDx opened #8 "Add app to Homebrew cask"
I think a lot of Developers use homebrew to install software so this would be a nice addition.

[2018-08-06 15:28] Prattjames commented on #5
@ZeroX-DG Everything worked just fine.
For people that needs the DMG file [https://ufile.io/gqb53](https://ufile.io/gqb53).

[2018-08-06 16:59] ZeroX-DG commented on #8
I'm sorry @SxDx , I'm currently don't have a mac machine to test & build therefore the only way that macOS users can use this app is to build from source using the command bellow (I'm not guarantee it will work):

[code]
I'll try to find someone who use macOS to work with me but in the meantime, building from source is the only way. If you want, you can donate me through [this](https://www.buymeac

[2018-08-06 17:12] Prattjames commented on #5
@prajwalrao you're right, I can't also, there's a bug in the mac version I think, we can't copy/paste...

[2018-08-07 03:55] ZeroX-DG commented on #5
I think I know this bug but I can't test my solution for this bug. But I'll add it anyway. If you want, you can donate me through [buy me a coffee](https://www.buymeacoffee.com/hQteV8A) so that I can afford a mac to test & build SnippetStore on mac and many other open source projects in the future.

[2018-08-07 06:51] TobiasDev opened #9 "Let the user choose save location for all snippets"
I love this tool. I haven't used it for long, but I love a tool that currently only saves my snippets locally. :) However, something that would for me personally would be awesome to add is that I can choose in which folders it should save all my snippets. That way I could store it in my Dropbox, OneDrive, etc. and when I install it on a new PC just change it to load from that folder and all my sni

[2018-08-07 12:58] ZeroX-DG commented on #9
Thank you for suggesting this feature, I'll implement it soon. And I'll try researching on WebDav too :smile:

[2018-08-08 07:52] Aweryn opened #10 "OSX hotkey issue"
I built a mac os package and everything seems to run fine but instead of CmD+N to create a new snippet the app opens a new snippet dialog every time you press just "N" key.

-> Thus cannot type anything that includes the character N

[2018-08-08 11:14] ZeroX-DG commented on #10
Thanks for reporting, I'll try to fix it.

[2018-08-09 05:48] ZeroX-DG commented on #10
Fixed [347339b](https://github.com/ZeroX-DG/SnippetStore/commit/347339b) (Unreleased)

[2018-08-09 05:48] #10 closed

[2018-08-14 01:45] ZeroX-DG commented on #9
Fix em in the latest release v0.2.6

[2018-08-14 01:45] #9 closed

[2018-08-14 01:50] ZeroX-DG commented on #7
Fixed in v0.2.6

[2018-08-14 01:50] #7 closed

[2018-08-17 14:01] rnehring opened #11 "Blank Screen?"
Added my 4th snippet, a plaintext snippet for Lorem Ipsum, and the screen just went blank.  Opening the devtool shows some js issues.  Really like this program, hoping it's a simple fix!  Tried reloading the application and the using the "Reload Window" option and still blank.
![snippetstore](https://user-images.githubusercontent.com/136054/44270091-6ef63c00-a204-11e8-8ead-8e833db69051.jpg)

Runni

[2018-08-18 02:17] ZeroX-DG commented on #11
Don't worry, I have investigated the problem and I think it's gonna be a simple fix

[2018-08-24 15:45] ZeroX-DG commented on #11
@rnehring SnippetStore v0.2.7 is out now and your bug is fixed. Thank you for reporting.

[2018-08-26 09:00] 4gray opened #12 "Filtering for languages with more than one word"
First of all I would like to thank you for this application!

I have found a small filtering bug. If the language name contains more than 1 word (e.g. "Common List", "Plain Text" etc.) application returns empty snippet list.

![snippetstore 2018-08-26 10-55-21](https://user-images.githubusercontent.com/1503032/44626546-980e7f00-a91e-11e8-884c-a8576546535d.jpg)
![snippetstore 2018-08-26 10-54-57](h

[2018-08-27 15:45] ZeroX-DG commented on #12
Thank you for reporting, I'll fix this soon!

[2018-09-05 03:49] ZeroX-DG opened #13 "Performance issue if there're too many snippets"
There're a performance issues in original layout when there're too many snippets in list. With the `list and details` layout, everything look good but also there're some minor performance issue when resizing the left menu bar.

[2018-09-10 15:32] Eric-Jackson opened #14 "Mac - Incorrect Tray Icon Size"
On Mac, the tray icon is displaying at the full 512px.

I've used the following code on line 7 of `app-tray.js` to correct the issue:

[code]

`icon18.png` is an 18x18px image.

[2018-09-11 10:20] ZeroX-DG commented on #14
Thank you for reporting, I didn't no icon size is not limited on MacOS, I don't have a Mac to test this haha. Anyway, I'll fix this issue soon, thanks!

[2018-09-13 09:15] PDDStudio commented on #14
@ZeroX-DG How can people with a Mac actually assist you? (Beside testing the app for that platform by using it)

I cloned the repo, installed the dependencies & run the build commmand for Mac as stated in the Readme: `npm run dist:mac`

Everything worked straight out of the box for me and I was also able to run the app (without any errors so far)

[2018-09-14 12:54] ZeroX-DG commented on #14
I'm currently don't have much time for this project. I'll be back in a few months and maybe I'll find mac user to help develop this project. @PDDStudio If you're interested in this project, I'll contact you when I'm back and we can collaborate on this project.

[2018-09-14 15:10] Eric-Jackson commented on #14
@PDDStudio the tray icon isn't enlarged for you? What version of Mac are you on?

[2018-09-27 08:37] knrt10 commented on #4
Started working on this will make a PR ASAP.

[2018-09-27 10:53] knrt10 commented on #4
@ZeroX-DG `npm run dev` is giving errors due to webpack.config.js file.

[code]

Its not able to find loader for `jsx` files correctly. Do you have any idea how to resolve this?

[2018-09-27 11:02] ZeroX-DG commented on #4
@knrt10 I have seen this warning before, I'll fix this bug soon. Right now, you can just ignore the warning. If the app shows a white blank space then please hit `ctrl + shift + r` to refresh the app. I'll also fix this bug soon.

[2018-09-27 11:06] knrt10 commented on #4
I tried that but it didn't work. It still shows blank white screen.

[2018-09-27 11:08] ZeroX-DG commented on #4
I'll fix this bug right away and will notify you as soon as I finished.

[2018-09-27 11:28] knrt10 commented on #4
And by work, I mean like didn't reflect the changes in the app.

[2018-09-27 11:35] ZeroX-DG commented on #4
I don't really know what problem you're having. But you can try these ways:
- try adding a console.log to your code, if it logged then you may want to check your code again.
- try finding your code in the source tab in the dev tool and see if it changed.

[2018-09-27 11:44] knrt10 commented on #4
Resolved the problem. Thanks will work on this issue now.

[2018-09-27 12:37] ZeroX-DG commented on #4
@knrt10 I've solved the white screen issue in the latest code. Please tell me if there's any problem with it.

[2018-09-27 12:48] knrt10 commented on #4
Yes its working now.

[2018-10-02 06:44] ZeroX-DG commented on #14
@Eric-Jackson can you confirm that this bug had been fixed in the latest release ?

[2018-10-02 06:49] ZeroX-DG commented on #12
Fixed in the latest release v0.2.8. When you click on the language on the left bar, the white space in language name will be replaced with `_`. So be sure to add `_` between words when you type the language name by hand.

[2018-10-02 06:49] #12 closed

[2018-10-02 13:06] Eric-Jackson commented on #14
@ZeroX-DG yes it's working now. However I'm not sure if you want the icon to be blue, up to you!

![screen shot 2018-10-02 at 9 05 24 am](https://user-images.githubusercontent.com/1268260/46350287-6629c000-c622-11e8-92a3-3edb21a21615.png)

[2018-10-02 14:50] ZeroX-DG commented on #14
I'll fix it when I have the time, but for now, I'm closing this issue. Thank you for reporting!

[2018-10-02 14:50] #14 closed

[2018-10-02 14:50] #11 closed

[2018-10-03 02:26] onetrev opened #15 "Installer warning on Windows"
When installing v0.2.8 on Windows you get the following warning:

_Windows Defender SmartScreen prevented an unrecognised app from starting. Running this app might put your PC at risk._

[2018-10-03 03:10] ZeroX-DG commented on #15
Thanks for reporting, I'll look into this bug soon. In the meantime, you can click `more info` and click `Run anyway`

[2018-10-09 22:11] nickfmc opened #16 "Multi-file Snippet creation bug"
When Trying to create a multi-part snippet on Windows, when clicking in the Snippet content "new file" area it opens up a blank screen. With no way back, Dev tools shows an error in main.js on this page.

[2018-10-10 03:18] ZeroX-DG commented on #15
I think it's because I don't have an EV Certificate. A similar problem can be found here: https://github.com/electron-userland/electron-builder/issues/1936

[2018-10-10 03:19] ZeroX-DG commented on #16
Thank you for reporting. Can you take a picture of the dev tool error and post it here?

[2018-10-10 03:45] onetrev commented on #16
I have the same issue. Here's my screenshot.

![image](https://user-images.githubusercontent.com/597601/46712087-0f179100-cc9b-11e8-867d-f7b5d273a8f0.png)

[2018-10-10 03:50] ZeroX-DG commented on #16
Thanks, I can reproduce the problem I'll fix this bug soon

[2018-10-10 06:54] ZeroX-DG commented on #16
I've fixed this bug. This will not happen in the next version (I hope so :smile: )

[2018-10-18 04:53] ZeroX-DG commented on #16
@nickfmc @onetrev I have released v0.2.9-pre to fix this issue, please tell me if this issue still exists.
https://github.com/ZeroX-DG/SnippetStore/releases/tag/v0.2.9

[2018-10-18 13:05] onetrev commented on #16
Works perfectly now. Awesome, thank you!  I think this issue can be closed now. This is such a great feature of your app. I have a few more little bugs / issues to post, will do as soon as I can.

[2018-10-19 04:15] onetrev opened #17 "PHP snippets without PHP tags - no code highlighting"
I noticed that if you have PHP snippets that don't have the PHP tags around them, then you lose the code highlighting. This is definitely needed in some cases where you know that is code that always goes into an open PHP section. See below:

![capture-php](https://user-images.githubusercontent.com/597601/47197368-8d69e680-d3b1-11e8-9833-c4c192235220.PNG)

[2018-10-19 04:19] onetrev opened #18 "Icon issues when using two different DPI monitors (Windows)"
Super small, very minor issue, but I noticed that when I have both my monitors connected, one scaled at 200%, the other 100%, the Snippet Store icon doesn't look very good in these two locations. If I log out and log back in with just my high DPI (200% scaled) laptop connect, it looks great though, perfectly crisp!

![capture - notification icons](https://user-images.githubusercontent.com/597601/4

[2018-10-19 04:26] onetrev opened #19 "Launch app maximized on first load"
Just another super small thing, but I noticed that on first load SnippetStore doesn't launch fully maximized. I know other Electron apps used to have that issue, but don't seem to any more. Would this part of the API fix that? https://electronjs.org/docs/api/browser-window#winmaximize

PS, thank you for the big donation credit. I really appreciate your work on this app though, especially the VS Co

[2018-10-19 04:42] #16 closed

[2018-10-19 11:06] ZeroX-DG commented on #19
Thanks, @onetrev I'll fix it soon :+1:

[2018-10-19 11:07] ZeroX-DG commented on #18
I have noticed this issue and fixing it

[2018-10-19 11:11] ZeroX-DG commented on #17
Maybe I'll add an option in the setting to allow PHP code without `<?php` and `?>`. Thanks for reporting

[2018-10-21 04:29] ZeroX-DG commented on #17
This feature will be available in the next version. Thank you for your suggestion! :tada:

[2018-10-30 09:44] patrickTingen opened #20 "Custom code highlighting"
Hi, first thanks for this cool tool.

I am still exploring and testing it, but one thing that would benefit me is support for additional programming languages. I work in Progress 4GL (also known as OpenEdge ABL) and since it is a bit obscure I am not surprised that it is not supported. Are there any ways / plans to add extra languages?

[2018-10-30 11:05] ZeroX-DG commented on #20
Snippet Store is currently using [CodeMirror](https://github.com/codemirror/CodeMirror) and will support any language that [CodeMirror](https://github.com/codemirror/CodeMirror) support. If you want your language to be available you should contribute it to CodeMirror.
I'm currently doesn't have any plan on adding extra languages sorry.

[2018-10-30 11:06] patrickTingen commented on #20
No problem, I will see if I can add my language to CodeMirror. Thanks!

[2018-10-30 11:06] #20 closed

[2018-11-16 17:42] arcturus140 opened #21 "[bug] snippet content not displayed correctly"
# Description

the following snippet is not displayed correctly:
[code]

# Steps to replicate

1. create single snippet
2. set snippet content = "`<=`"
3. observe snippet content = "`≤`"

# Expected behaviour

3a. observe snippet content = "`<=`"

[2018-11-16 18:09] arcturus140 commented on #21
seems like non of the editor fonts are installed on my system:
`Fira Code, Consolas, sans-serif`
adding `Courier` solves the issue:
`Courier, Fira Code, Consolas, sans-serif`

# Environment

- Version and OS: 16.04 Ubuntu
- Version: 0.2.9

[2018-11-16 21:53] arcturus140 opened #22 "[Improvement] enter edit mode"
1. would be nice be able to directly edit a snippet. I'd suggest to make a check mark icon appear once edits have been made to save them and discard (unintended) changes otherwise.
Alternatively, a shortcut to enter edit mode could be handsome.

2. I really appreciate it that only an excerpt of the snippet is displayed. I'd like to toggle between excerpt and complete view with double-click on the

[2018-11-16 22:08] arcturus140 opened #23 "[bug] A JavaScript error on export abort"
![snippetstoreerror](https://user-images.githubusercontent.com/44707562/48649830-e007e400-e9eb-11e8-8eb9-00a094acb2a5.png)

# Steps to replicate
1. Snippet / export a snippet
2. select `Cancel`

cancel import works, though.

OS and Version: 16.04 Ubuntu

[2018-11-16 22:57] arcturus140 opened #24 "[Improvement] multiple (programming) languages"
Would be nice to assign multiple languages for a snippet.

Context: My snippets are used for multiple languages, e.g., `C`, `C++`, `C#`. My text editor triggers the snippet based on the active scope.

[2018-11-17 01:06] arcturus140 opened #25 "[Question] What is the accepted data format for snippet import?"

[2018-11-17 01:09] arcturus140 commented on #25
`JSON`, same as export format.

[2018-11-17 01:09] #25 closed

[2018-11-17 02:56] ZeroX-DG commented on #23
I remember I fixed this bug hundreds of times already. Why is it still here :cry: Anyway, this is an easy fix haha.
The `paths` variable is undefined if the user cancels export.
https://github.com/ZeroX-DG/SnippetStore/blob/5b6644b112fe4acf6c1b57d40d0d2918366710a9/app/app-menu.js#L74-L77

[2018-11-17 03:06] ZeroX-DG commented on #24
Can you just create a new multi-file snippet an create different files for each language?
For example: create a snippet named `replace text` and create JS file for the `replace text` JS version. Another file for different versions of the function in different languages?

[2018-11-17 05:29] knrt10 commented on #4
I am sorry I was unable to do it. I seriously apologise I should have told earlier but was caught up in different things. Feel free to submit a PR and again sorry.

[2018-11-17 12:59] arcturus140 commented on #4
@knrt10 no probem :smile_cat:

[2018-11-19 18:42] arcturus140 commented on #17
I seem to have this issue, too. How can I enable syntax highlighting without `<? ?>` tags?

[2018-11-19 18:47] arcturus140 commented on #13
hello @ZeroX-DG I really like the normal layout. Any thoughts on how to improve performance?

[2018-11-20 03:02] ZeroX-DG commented on #23
Fixed in the latest release:
https://github.com/ZeroX-DG/SnippetStore/releases/tag/v0.2.10

[2018-11-20 03:02] #23 closed

[2018-11-20 03:02] ZeroX-DG commented on #19
Fixed in the latest release:
https://github.com/ZeroX-DG/SnippetStore/releases/tag/v0.2.10

[2018-11-20 03:04] ZeroX-DG commented on #17
Fixed in the latest release:
https://github.com/ZeroX-DG/SnippetStore/releases/tag/v0.2.10.
@arcturus140 @onetrev You can look at this tweet to know how to use this feature.
https://twitter.com/ZeroX_Hung/status/1054731082808070145

[2018-11-20 03:04] #17 closed

[2018-11-20 03:11] ZeroX-DG commented on #13
Well, it's because the original layout has many CodeMirror instances therefore, everytime we resize the left menu bar it re-calculate the size and redraws the instance. Similar to this issue: https://github.com/codemirror/CodeMirror/issues/5398

[2018-11-20 03:52] onetrev commented on #19
Hello! Sorry to report that for me at least the app still doesn't open full screen on first load. Anything I can troubleshoot to assist?

PS, hopefully you can add auto-update or definitely at least a notice when a new version is out. Lots of people probably missing out on the new features and bug fixes being added.

[2018-11-21 08:46] ZeroX-DG commented on #19
Thanks, @onetrev somehow the bug re-appear again :cry: I'll implement something to notify users when there's a new version. I'm still learning how to create auto-update :smile:

[2018-11-27 17:23] zbahadir opened #27 "Category Support request"
Very good application. I really like.
I have a suggestion. Category support would be good.
Snippets can be created for different platforms. For example, a PHP-based category for zend frameworks would be good.

[2018-11-28 01:57] ZeroX-DG commented on #27
The idea of the app is to keep it simple. You can create PHP snippets and tag them with tag, for example, `#zend`, you can then use the search bar to search for PHP snippets with `#zend` tag. The syntax for the search bar in this case would be: `lang:PHP #zend`. What do you think?

[2018-11-28 09:55] zbahadir commented on #27
Yes, I use tags to group.
Everything is stored in one file. There may be a problem with too many items. Each category can be kept in separate files. Because some pieces of code can be large.

I've reviewed many applications. This application is the most useful.
I think it might be more useful.

What do you thinking?

[2018-12-02 05:09] ZeroX-DG commented on #27
I understand that maybe you're suggesting something like a folder tree?
![image](https://user-images.githubusercontent.com/12984316/49335962-1455e400-f62b-11e8-93b1-4697eb4845fb.png)

[2018-12-02 09:33] zbahadir commented on #27
Exactly that way.
The files are also very useful if they are legible. Like visual studio code snippet. Spaces can be included in the code. For example:

![snippet](https://user-images.githubusercontent.com/3078225/49338074-7b28cc80-f62e-11e8-990e-15140ad1ecfc.png)

It can be more convenient and more professional application.

[2019-01-04 18:25] magussiro opened #28 "Package cryptiles Insufficient Entropy"
I am tring using npm audit to check if any discovered vulenity in dependency package, after I ran
"npm audit fix --force" ,It's still have this security issue:
OS: macOS 10.13.6
version:0.2.10
=====
Mac :: ~/ProductiveTools/SnippetStore » npm audit

                       === npm audit security report ===

# Run  npm update cryptiles --depth 4  to resolve 1 vulnerability
┌───────────────┬─────────

[2019-01-04 20:32] magussiro commented on #28
update electron to 1.8.8 , and update universal-analytics to 0.4.20 can fix this security issue

[2019-01-09 02:32] ZeroX-DG commented on #28
Dependency updated! Thank you for reporting :+1:

[2019-01-09 02:32] #28 closed

[2019-01-09 11:01] devrsi0n commented on #4
Maybe using GitHub private repo instead? Since this feature opened to everyone a couple days ago.
[
GitHub Free users now get unlimited private repositories](https://techcrunch.com/2019/01/07/github-free-users-now-get-unlimited-private-repositories/)

[2019-01-10 02:40] EdenChow opened #29 "Install the app question"
I use the MacOS system,but I don't know how to do it,could you give me a user's guide？

[2019-01-10 03:59] ZeroX-DG commented on #29
Hi @EdenChow , thank you for interested in SnippetStore. I currently don't have a mac so mac users will have to build the app from source. Here're the steps:

1. Clone this project and navigate to id
[code]
2. Install dependencies and build the app
[code]
After that, you can find the executable file in the `dist` folder.

[2019-01-10 06:43] EdenChow commented on #29
Thank for your reply,
Step one,I do success,and cd Snippetstore folder.but show error `-bash: npm: command not found` when step two.
follow this pic:
![5933bf5d-60fa-4c34-bf8e-fb666729693d](https://user-images.githubusercontent.com/13067657/50950780-ff038d80-14e5-11e9-85d1-b417b5402451.png)

[2019-01-10 06:50] ZeroX-DG commented on #29
do you have nodejs installed ?

[2019-01-11 07:11] EdenChow commented on #29
Is nodejs software ? I didn't has install it.

[2019-01-11 07:15] EdenChow commented on #29
this pic with file when install url : https://github.com/ZeroX-DG/SnippetStore.git.According your point,I must install the other sofeware nodejs ?

[2019-01-11 07:15] EdenChow commented on #29
![17e52e4e-1aae-4ba2-8f55-b800dd80d48b](https://user-images.githubusercontent.com/13067657/51018764-bd411880-15b3-11e9-9076-233b4f7bead5.png)

[2019-01-11 07:19] #3 closed

[2019-01-20 06:56] bantya commented on #13
Can't you use **[Prism](https://prismjs.com/)**  by Lea Verou?
It would be perfect to display total snippet list in any mode and use **CodeMirror** only for editing/adding snippet.

[2019-01-20 07:01] bantya commented on #13
Prism is simple, smaller in size, has plugin support, supports a-hell-lot-of languages.

Only issue to arise is, it is available in fewer color-schemes (AFAIK).

[2019-01-20 08:11] bantya opened #31 "[Improvement] Better add new snippet (file) feature"
Hi buddy, this is my time opening issue in this awesome project. Thanks for this.

I am having some suggestions to improve the UX of the product.

⭕ Currently creating a new snippet greets us with following dialog:

![image](https://user-images.githubusercontent.com/16685565/51436263-f4987f00-1caf-11e9-9d9d-39dd9046494f.png)

There is nothing to ask from here, but having to choose **single file sn

[2019-01-20 08:30] bantya opened #32 "[Improvement] Code indentation problem"
Everything is good and there's a code indentation problem.

![2019-01-20_13-44-32](https://user-images.githubusercontent.com/16685565/51436867-ffa4dc80-1cba-11e9-95f8-3c1fb6e330c8.gif)

Looks like this is an issue related to **CodeMirror**.

Thanks in advance for solving this.

👍🏼

[2019-01-20 09:36] bantya opened #33 "[Suggestion] Add About SnippetStore menu"
⭕ Please add a **About SnippetStore** menu item to the **Help** menu.

![image](https://user-images.githubusercontent.com/16685565/51437203-0cc4ca00-1cc1-11e9-88d0-2c35f51e2694.png)

e.g. which may contain something like:

![image](https://user-images.githubusercontent.com/16685565/51437457-aa6dc880-1cc4-11e9-89dd-1f48d86cea32.png)

⭕ Also having **Check for updates** menu item certainly would not

[2019-01-22 03:11] ZeroX-DG commented on #33
Thank you for your suggestion, I'll add this as soon as I can.

[2019-01-22 03:15] ZeroX-DG commented on #32
Mine works fine, can you take a picture of your editor setting? Here's my setting:
![image](https://user-images.githubusercontent.com/12984316/51510180-947c1700-1e2e-11e9-983a-678452ed65f4.png)

[2019-01-22 20:41] bantya commented on #32
I am using **material** theme and here is the requested image (The upper part is cut, thanks to my screen resolution):

![image](https://user-images.githubusercontent.com/16685565/51563786-5aa12400-1eb3-11e9-8e33-32ad1811aca1.png)

[2019-01-22 20:54] bantya opened #34 "[Imprevement] The tooltip styling"
The edit snippet and save snippet button tooltips are bit off (font, font-size etc.) compared to other UI elements.

![image](https://user-images.githubusercontent.com/16685565/51564584-b2d92580-1eb5-11e9-8079-98601a200c9d.png)

Please look into it.

🙂

[2019-01-24 04:16] ZeroX-DG commented on #34
Fixed in https://github.com/ZeroX-DG/SnippetStore/pull/35

[2019-01-24 04:16] #34 closed

[2019-02-05 03:00] ZeroX-DG commented on #33
DONE! Available in v0.2.11

[2019-02-05 03:00] #33 closed

[2019-02-13 20:53] bantya opened #37 "Editing Markdown in preview mode is broken."
## Current Behavior

Clicking the edit button in current Markdown preview implementation does not work. It does not go to the edit mode, but shows the `apply` and `cancel` buttons. The preview area freezes. Clicking the `apply` edit button does nothing. Clicking the `cancel` edit button crashes the app. To make the app responsive again, had to `reload` it manually.

## Demonstration

![md_edit_pro

[2019-02-13 21:00] bantya opened #38 "Markdown preview is not consistent."
## Current Behavior

When previewing a Markdown if another Markdown snippet is clicked, the preview does not update with the selected snippet. It just freezes and keeps showing the first selected snippet preview.

## Demonstration

![md_preview_freeze](https://user-images.githubusercontent.com/16685565/52743608-67bbb980-3000-11e9-8ea3-5eb50707df9b.gif)

## Expected Behavior

While previewing a Mar

[2019-02-13 21:04] bantya opened #39 "No way to preview GitHub Flavoured Markdown snippets."
## Current Behavior

The preview button does not show up for GitHub Flavoured Markdown. Thus can't preview GFM.

## Demonstration

![md_git_md_preview](https://user-images.githubusercontent.com/16685565/52743801-e0bb1100-3000-11e9-8352-f182794e93b1.gif)

## Expected Behavior

The preview button should appear for GitHub Flavoured Markdown and should work normal as like simple Markdown.

## System I

[2019-02-13 21:05] bantya opened #40 "Can't open links from Markdown preview area."
## Current Behavior

Clicking the links in current Markdown preview implementation does not work. Upon clicking, the preview area goes blank and nothing happens.

## Demonstration

![md_link_not_opening](https://user-images.githubusercontent.com/16685565/52743898-1a8c1780-3001-11e9-948e-f3ae76db1fdc.gif)

## Expected Behavior

Clicking on the link should open that link in the default browser.

##

[2019-02-14 15:13] bantya opened #41 "Ctrl+S not working properly"
## Current Behavior

The keyboard combo <kbd>Ctrl+S</kbd> does not work consistently for all use cases. For creating a snippet, it works randomly and not guaranteed to work next time. For saving an edited snippet, it simply does not work.

## Expected Behavior

The aforementioned key-combo should work the same for both the cases:
1. While creating a brand new snippet and,
2. While editing an exist

[2019-02-16 02:17] ZeroX-DG commented on #40
Fixed in [4864b8b](https://github.com/ZeroX-DG/SnippetStore/tree/4864b8be1bb09fb3951d089eca0b4b1a9a8fcbb5). Thanks for reporting!

[2019-02-16 02:19] ZeroX-DG commented on #39
Fixed in [9dec808](https://github.com/ZeroX-DG/SnippetStore/commit/9dec808806509fc3d4de4d70064f0205b8ed5130)

[2019-02-16 02:20] ZeroX-DG commented on #38
Fixed in [0d3ab7d](https://github.com/ZeroX-DG/SnippetStore/commit/0d3ab7dde76035a175cb41e09fa25a8cdc51ed0d)

[2019-02-16 02:20] ZeroX-DG commented on #37
Fixed in [64b74cc](https://github.com/ZeroX-DG/SnippetStore/commit/64b74cc2dd18e429c75a55249094ac60f5c1b0e1)

[2019-02-16 20:24] bantya opened #42 "Ability to add custom styles."
## Current Behavior

I am on `1366x768` sized laptop screen. Though this is a very common laptop screen size and I can get many of my jobs done using it. The SnippetStore app works well and has a beautiful layout, but I think (my opinion 👉) it applies a little bit more spacing to some elements.

## Demonstration

![image](https://user-images.githubusercontent.com/16685565/52904538-8c5b9f80-3253-11

[2019-02-16 21:00] bantya opened #43 "[UI] Increase vertical space."
## Current Behavior

There's always room for improvement even in already perfect things.

This is the case hare. The icons above the snippet name in details area take important vertical space.

## Demonstration

![image](https://user-images.githubusercontent.com/16685565/52905133-c761d100-325b-11e9-85da-4b668c814e1c.png)

The delete icon and other icons in the details area are separated with huge

[2019-02-16 21:02] bantya commented on #42
The custom styles can be used to change the size, style of the font of snippet name in details area, tag styles etc. 😊

[2019-02-17 07:57] bantya commented on #43
If snippet name is longer and cant accommodate the available horizontal space, it should be trimmed..

e.g. `this-is-a-very-long-file-name-which-can-not-fit-in-a-single-line-for-demonstration.txt` will be
[code]

[2019-02-20 23:22] arcturus140 opened #45 "how to uninstall SnippetStore in Linux"
I installed the app via appimage. How can I remove it from my system?

I removed it from Ubuntu Software manager but the config files in `~/.config` are still there...
I am using Ubuntu 16.04.

1. uninstall via software manager
2. `rm -rf ~/.config/Snippetstore`
3. `rm -rf ~/.config/snippetstore`
4. `rm ~/.local/share/applications/appimagekit-snippetstore.desktop`

[2019-02-20 23:58] arcturus140 opened #46 "Cannot enter language as text input"
Snippet language can be chosen when clicking with the cursor in the selection box. Would be nice if it accepts text input directly, as well.

# Steps to replicate

1. Create -> Single-file snippet
2. type "name" for snippet name -> press tap to next input field
3. type "Brainfuck" -> press tap
4. type "tag" -> press tap, press tap
5. press tap
6. press tap
7. press "Create" button -> Error message

[2019-02-21 20:54] ZeroX-DG commented on #45
I think that's it, you won't have to delete anything else.

[2019-02-22 12:03] arcturus140 commented on #45
I added point 4, seems complete.

[2019-02-22 12:03] #45 closed

[2019-02-22 19:40] bantya commented on #46
@arcturus140 I was about to report this issue and you did it!

### Demonstration:

![2019-02-23_01-05-17](https://user-images.githubusercontent.com/16685565/53266744-b277b880-3707-11e9-9f2e-dbf8ed138457.gif)

[2019-02-22 20:05] bantya opened #47 "Reduced performance for large collection of snippets."
## Current Behavior

As the snippets collection grows, it seriously hampers the performance of the app! Simple usage of app feels sluggish.

## Expected Behavior

The app should run relatively with same speed/performance no matter how many snippets are loaded.

## Suggestions

According to the reason mentioned in #13, as the large number of CodeMirror instances make the app less performant.

For j

[2019-02-22 20:23] bantya commented on #46
Ideally, there should be no **Snippet language** drop-down.

Instead there should be a **Snippet filename** input to enter the filename for the snippet (same as **Multi file Snippet**) along with the **Snippet name** input.

The **Snippet language** should be guessed according to the file extension provided in **Snippet filename**. This will help mitigate the aforementioned issue.

[2019-02-22 20:25] bantya commented on #46
The **Snippet filename** can then be used to export the snippet content (just content w/o metadata) to a file with provided filename.

[2019-02-23 03:12] ZeroX-DG commented on #46
This is weird, I have added this feature in the latest version?
![sac](https://user-images.githubusercontent.com/12984316/53280958-b8ac7a00-3785-11e9-92ab-85c463606465.gif)

[2019-02-23 14:03] bantya opened #48 "Exporting snippets improvement"
## Current Behavior

![image](https://user-images.githubusercontent.com/16685565/53286621-4e043a00-3797-11e9-9365-4ac8bc7cdd83.png)

Currently the **Export JSON** button exports the snippet in **.json** format and **not really** in the actual snippet filetype. The expoerted snippet json does contain the actual snippet however, it also holds the metadata such as `created_date`, `updated_date`, `nam

[2019-02-23 14:30] bantya commented on #48
If https://github.com/ZeroX-DG/SnippetStore/issues/46#issuecomment-466534795 is implemented before addressing this (#48) issue, then it will be a hell-lot easy to export the snippets as stated above.

[2019-03-04 01:35] ZeroX-DG commented on #48
I first intended the export feature is for transferring the exported snippet to other computer and import it using the import feature. I didn't make the export snippet content feature because I think people can always click the copy button.

[2019-03-04 01:37] ZeroX-DG commented on #46
Snippet filename is a good idea, I'll do it.....when I have the time 😢 so many things to do at uni.

[2019-03-04 19:46] bantya commented on #48
**Copy button** is anytime useful. No doubt about that!
One may have his/her e.g. utility class/library(s) that they use in almost every project. Copying the snippet content, creating a new file and then pasting into it is somewhat inconvenient.

There is a middle way which can be best of both worlds:
Having a setting in **(Interface section)** which user can toggle to choose between the current e

[2019-03-08 02:15] vurch opened #49 "Snippets Store Showing Blank on VSCode"
Transfer Selection to Snippets Store is Showing Blank on version 0.2.11.

[2019-03-08 06:40] ZeroX-DG commented on #49
Thank you for reporting, I'll fix this bug asap.

[2019-03-27 03:23] sumaliqinghua commented on #49
I find this bug too.This bug didnt appear on 0.2.10

[2019-04-17 07:53] EdvardM commented on #49
Confirmed. Selecting text and "transfer selection to snippet store" at has always caused me to make snippet store show just blank page.

[2019-04-17 08:19] ZeroX-DG commented on #49
Sorry for the delay. I'll release the new version tomorrow and it will fix this issue. Sorry for the inconvenience

[2019-04-17 09:31] ZeroX-DG commented on #49
Can you guys confirm that the bug has been fixed in the pre-release?
https://github.com/ZeroX-DG/SnippetStore/releases/tag/v0.2.12

[2019-04-22 18:48] guanqun-yang opened #52 "Markdown support for description and title"
I am a heavy user of BoostNote, which I think is the best note taking app I have ever used. Supposedly I think this app will inherit some major features of BoostNote.

I am not sure, but it seems that this feature is not directly supported by this software. It would be great if this is supported since I often need to insert mathematical formulas into the description box.
Additionally, it could be

[2019-04-25 12:06] onetrev opened #53 "Check for update not accurate"
I'm running 0.2.11 and using the "Check for Updates" features tells me I'm on the latest version. However, 0.2.12 is now out so it should be alerting me to that right?

On a side note, it would be cool if there could be an option to have the check for update run automatically every so often and automatically alert you to a new version.

[2019-04-26 22:38] ZeroX-DG commented on #53
Yes, this is definitely a bug. I'll try to fix this issue. Thanks for reporting!

[2019-04-26 22:38] #49 closed

[2019-05-03 15:22] bantya commented on #52
If in any **Markdown** flavors, the links are clickable in **preview mode**.

[2019-05-29 21:46] #43 closed

[2019-05-29 21:46] #38 closed

[2019-05-29 21:47] #39 closed

[2019-05-29 21:47] #40 closed

[2019-05-29 21:47] #37 closed

[2019-05-30 05:35] guanqun-yang opened #54 "Cloud storage of code snippets"
My hard drive just experienced some issues and caused some of my files missing. Fortunately, most of my research notes are hosted on private Github repository or in BoostNote, which uses third party cloud service (like Dropbox) to store notes and make possible the multiple platform feature.

When I launched this app and took notes as usual today, it suddenly occurred to me that probably all of the

[2019-05-31 03:19] cmckni3 commented on #8
how about setting up a free [Azure Devops](https://azure.microsoft.com/en-us/services/devops/) pipeline to build the mac version?

[2019-06-01 05:46] onetrev commented on #53
Note... the Snippet Store website still has a download link to v0.2.11. But I used the [GitHub link](**https://github.com/ZeroX-DG/SnippetStore/releases**) to install v0.2.12.

However, when I go the About menu in SnippetStore it still says I'm running 0.2.11, even though 0.2.12 is definitely installed (Windows lists 0.2.12 in the programs listing). And now check for updates chucks some error mess

[2020-01-12 09:16] no1san opened #56 "Tags"
Hi,
maybe it is just a user problem but:
How do I add any Tag to my snippet?

[2020-01-12 22:12] ZeroX-DG commented on #56
Hi, you can click edit on your snippet and type in the tags in the input next to the tag icon

[2020-01-13 09:55] no1san commented on #56
Thanks for your fast reply.
I tried that. I can enter a tag however they are not saved.

[2020-02-15 16:42] Echowxsy commented on #56
maybe you need type a blank after type tag name

[2020-02-18 01:48] Echowxsy commented on #29
@EdenChow
I have build a mac version ,there is [download url](https://drive.google.com/file/d/1kq5Dcqth4SmkJcae0cQnFxOZNf-UjFK6/view?usp=sharing)

[2020-03-11 19:13] ndsamuelson commented on #56
This is correct. I wasn't able to duplicate the issue. Try re-installing. 💪

[2020-03-21 19:07] cmarabate commented on #54
I would also like this featured!

[2020-03-21 19:21] cmarabate opened #58 "Feature Request: Hotkey to toggle SnippetStore open & closed"
Basically all I want is to be able to set a hotkey that does the same thing that clicking the tray icon does.

Thanks a ton for creating this, it is exactly what I've been looking for forever!

[2020-03-30 16:08] cmarabate commented on #53
Same exact issue for me as well on Windows 10 PC.

[2020-03-30 16:15] cmarabate opened #59 "Feature Request: Ability to Rearrange the order of files in multi-file snippets"
Hello, I can't seem to find any way to easily rearrange the files I add to a multi-file snippet. I was really hoping that I could easily click and drag them into whichever position I want.

[2020-03-30 16:23] cmarabate opened #60 "Feature Request: Autocomplete tags with "Enter" key as well"
I don't like that when I want to add only one tag or my last tag that I can't use the enter key instead the space bar. I know it is nit picky but it would speed things up for me significantly.

[2020-05-27 10:25] LauGau commented on #5
Up ! I will definitely buy you a coffee (even a pack !) @ZeroX-DG if there is a mac version :D

[2020-05-27 11:36] ZeroX-DG commented on #5
@LauGau thanks for the offer but I don't think I'll be able to create any mac version anytime soon. Although, I might be able to do that if my next job provide me with a mac :smile: In the mean time, you can clone the repo and build it yourself:)

[2020-08-11 07:44] i-ce-fish commented on #56
You should press TAB after input a  tag

[2020-09-02 00:22] ZeroX-DG commented on #60
Fixed by https://github.com/ZeroX-DG/SnippetStore/pull/62. I'll close this when the next version is released

[2020-09-02 00:27] ZeroX-DG commented on #56
I can't reproduce the issue either. I'll close this issue thanks for reporting anyway :+1:

[2020-09-02 00:27] #56 closed

[2020-10-18 15:04] sydonay opened #64 "build mac app failed"
Some problems occurred while building the mac app

The error message:

Clearning compiled folder...
Done!
Compiling...
Compile success!
  • electron-builder version=20.19.1
  • loaded configuration file=package.json ("build" field)
  • writing effective config file=dist/electron-builder-effective-config.yaml
  • no native production dependencies
  • packaging       platform=darwin arch=x64 electro

[2020-10-19 00:36] ZeroX-DG commented on #64
I don't use mac so I can't really tell what's the problem here. But I'll try to find out what's wrong.

[2020-10-19 08:49] sydonay commented on #64
Thank you for your help

[2020-10-22 03:17] ash0080 opened #65 "Feature Request: Add A Duplicate Button"
Plz add a DUPLICATE button to reduce duplicate typing.
Make it easier to continue adding snippets.

[2020-10-22 03:20] ash0080 opened #66 "There is no language input field in the Multi-File window, is it right?"
![2020-10-22_11-20-33 (1)](https://user-images.githubusercontent.com/2803210/96820467-a2722800-1458-11eb-805c-d3ee8b636478.png)

[2020-10-22 03:25] ash0080 commented on #64
Same issue, but actually the .app has been built, you can find it in the /dist folder.
I've been using it for a few minutes now and haven't noticed any problems.

[2020-10-22 06:56] sydonay commented on #64
You are right. the app in the /dist/mac folder. Thanks.

@ZeroX-DG But The problem of app still called Electron icon still exists

[2020-10-22 06:56] #64 closed

[2020-10-22 09:01] ZeroX-DG commented on #66
Yes, this is a design mistake. For now you can only specify the language using the file extension. For example, if the file name end with `.js` you will get `JavaScript` highlighting.

[2020-10-22 09:01] ZeroX-DG commented on #65
Yup, will do, thanks for the suggestion.

[2021-01-24 10:48] iwuwu commented on #29
Very useful information, but it fails in new MacBook Air M1...it reports:

Error: Node Sass does not yet support your current environment: OS X Unsupported architecture (arm64) with Unsupported runtime (88)

[2021-04-01 18:42] floripaoliver opened #70 "Importing from Cacher.io"
Hi guys,

Does anybody have an idea how I could import my snippets from Cacher.IO into snippetStore without doing that one by one?
I realize this is the wrong place to ask since this isn't an issue but hoped someone has an idea.

thx in advance,
Oliver

[2021-04-21 20:38] Criggz97 commented on #54
I just got started with the SnippetStore and I would also really love if it was possible to sync the data to a account or a cloud storage.

Good job with the program! Like the VS Code extension!

[2021-05-06 02:42] RadGade commented on #4
Ello there, I have started working on this issue and have already implemented connecting your GitHub account with the app. Feel free to track the progress at my [fork](https://github.com/RadGade/SnippetStore).

[2021-09-09 15:08] luke-techspra commented on #49
This is still an issue (v 0.2.11). Selecting text and "transfer selection to snippet store" at has always caused me to make snippet store show just blank page.

[2021-09-09 15:18] luke-techspra opened #71 "transfer from vs code to snippet store blank page"
This is still an issue (v 0.2.12).
Selecting text and "transfer selection to snippet store" has always caused snippet store to show just a blank page.

[2021-09-23 13:57] dphillips479 commented on #54
Running it from a server as web app would be great. But since I rarely use a different machine than my own when writing code, a cloud storage would actually serve the same purpose.

[2021-10-19 14:45] zpfz opened #72 "Chinese translation here, thanks~ cn.json"
[code]

[2022-01-13 05:47] pergrom opened #73 "add language "Bash" in Snippet language list"
is it possible to add Snippet language to the list

[2022-01-14 07:44] ZeroX-DG opened #74 "This project is no longer maintained"
Hi everyone,

Unfortunately, I have decided to stop maintaining this project. It's now an old project that requires many upgrades to continue proper development, and I'm not giving it the attention it deserves.

Please feel free to share any alternatives or forks in the comments of this issue.

Thank you for your understanding!